html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: calc(100vh - 12px);
  width: calc(100vw - 12px);
  padding: 5px;

  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

  background: rgb(2, 18, 44);
  background: linear-gradient(
    167deg,
    rgba(0, 9, 24, 1) 0%,
    rgba(2, 18, 44, 1) 23.6%,
    rgba(17, 18, 54, 1) 76.4%,
    rgba(4, 27, 74, 1) 100%
  );

  border: 1px solid black;
}

h1 {
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.38);
  margin: 5px;

  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

  font-family: sans;
  color: #ff9400;
}

footer {
  vertical-align: bottom;
  text-align: center;
}

.grid {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

main {
  grid-column: span 2;
  color: rgba(255, 255, 255, 0.76);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

aside {
  color: rgba(170, 159, 0, 0.76);
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  text-align: center;
}

.redWindow,
.greenWindow,
.yellowWindow,
.lightWindow,
.darkWindow {
  margin-left: 2px;
  margin-top: 2px;
  padding: 2px;
  border: 2px solid black;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greenWindow {
  background: linear-gradient(
    167deg,
    rgba(0, 24, 9, 10.764) 0%,
    rgba(2, 44, 18, 10.764) 23.6%,
    rgba(17, 54, 18, 10.764) 76.4%,
    rgba(4, 74, 27, 10.764) 100%
  );
}

.redWindow {
  background: linear-gradient(
    167deg,
    rgba(24, 0, 9, 10.764) 0%,
    rgba(44, 2, 18, 10.764) 23.6%,
    rgba(54, 17, 18, 10.764) 76.4%,
    rgba(74, 4, 27, 10.764) 100%
  );
}

.yellowWindow {
  background: linear-gradient(
    167deg,
    rgba(34, 34, 9, 0.764) 0%,
    rgba(54, 54, 18, 0.764) 23.6%,
    rgba(74, 74, 17, 0.764) 76.4%,
    rgba(94, 94, 27, 0.764) 100%
  );
}

.darkWindow {
  background: linear-gradient(
    167deg,
    rgba(4, 4, 4, 0.754) 0%,
    rgba(14, 14, 14, 0.754) 23.6%,
    rgba(24, 24, 24, 0.754) 76.4%,
    rgba(34, 34, 34, 0.754) 100%
  );
}

.lightWindow {
  background: linear-gradient(
    167deg,
    rgba(4, 4, 4, 0.382) 0%,
    rgba(14, 14, 14, 0.382) 23.6%,
    rgba(24, 24, 24, 0.382) 76.4%,
    rgba(34, 34, 34, 0.382) 100%
  );
  color: rgba(255, 255, 255, 0.382);
}

aside {
  grid-column: span 1;
  border: 2px solid black;
  border-radius: 5px;
}
